# arquivos de Ssistema e IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# arquivos de Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
env/
.env
.venv/

# modelos
*.pt
*.onnx
*.engine
runs/

# datasets 
datasets/*
!datasets/.gitkeep

dataset_bracol/
dataset_yolo/
imagens/
runs/

# logs e temporários
wandb/
*.log